body {}
.Results-view {
  padding: 0 0vmin;
  padding-right: 2vmin;
}
.Results-view ul {
  width: 100%;
  padding: 0;
  margin-left: 0;

  box-shadow: 0 3px 2px -2px rgba(0,0,0,0.3);
  border: 1px solid rgba(0,0,0,0.1);
  border-bottom: none;
  border-radius: 2px;
}
.Results-view ul li {
  list-style-type: none;
  padding: 1vmin 2vmin;
  overflow: hidden;
}
.Results-view ul li:first-child {
  padding-top: 2vmin;
}
.Results-view ul li:last-child {
  padding-bottom: 2vmin;
}
.Results-view .description {
  padding: 2vmin;
}
.Results-view .cover {
  padding: 2vmin;
  background: rgba(100,100,100,0.05);
}
